body {
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
  color: #DB593F;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #DB593F;
  font-size: 20px;
  font-weight: 300;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: 600;
  color: #DB593F !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #DB593F;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

.btn-login:hover {
  background-color: #E82F0B;
  color: #fff;
}

header {
  padding: 180px 0px 165px;
  margin-top: -70px;
  background-image: url("../images/banner.jpg");
  background-size: cover;
}

header h1,
header p {
  color: #fff;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 50px;
}

header p {
  font-size: 24px;
}

header .btn-get-started {
  background-color: #FCC12B;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

header .btn-get-started:hover {
  background-color: #F5CD67;
  color: #fff;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 16px;
  background-color: #fff;
  padding-left: 50px;
}

.section-stats h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: 300;
}

.section-popular {
  background-color: #C54F37;
  min-height: 540px;
  margin-top: -50px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #fff;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display';
  font-size: 40px;
  font-weight: 700;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content {
  margin-top: -200px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #b4b4b4;
  color: #fff;
  padding: 30px 15px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  color: #fff;
  font-weight: 600;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #FCC12B;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #F5CD67;
  color: #fff;
}

.section-networks {
  background-color: #fff;
  margin-top: -200px;
  padding-top: 240px;
  padding-bottom: 70px;
}

.section-networks h2 {
  font-family: 'Playfair Display';
  font-weight: 700;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#feefec));
  background: linear-gradient(#fff 0%, #feefec 100%);
  padding-top: 30px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -270px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 50px 21px 22px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content h3 {
  font-size: 22px;
  font-weight: 600;
}

.section-testimonial-content .testimonial {
  font-weight: 300;
  font-size: 24px;
  color: #6E6E6E;
  min-height: 160px;
}

.section-testimonial-content hr {
  margin-left: -21px;
  margin-right: -21px;
}

.section-testimonial-content .trip-to {
  font-size: 22px;
  color: #6E6E6E;
}

.section-testimonial-content .btn-try-now {
  background-color: #FCC12B;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.section-testimonial-content .btn-try-now:hover {
  background-color: #F5CD67;
  color: #fff;
}

.section-testimonial-content .btn-need-help {
  background-color: #F2F2F2;
  color: #C3C3C3;
  font-size: 20px;
  font-weight: 300;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #b4b4b4;
  color: #fff;
}

.section-footer h5 {
  font-size: 22px;
  font-weight: 600;
}

.section-footer li {
  margin-bottom: 10px;
}

.section-footer a {
  color: #DB593F;
  font-size: 18px;
}

.section-details-header {
  min-height: 310px;
  background-color: #FEE4DF;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item {
  font-size: 20px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #DB593F;
  font-size: 20px;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
  font-weight: 600;
}

.section-details-content .card-details h2 {
  font-size: 20px;
  font-weight: 600;
}

.section-details-content .card-details p {
  font-size: 18px;
  font-weight: 300;
  color: #B1B1B1;
}

.section-details-content .card-details h3 {
  color: #C54F37;
  font-size: 16px;
}

.section-details-content .card-details .trip-information th {
  font-weight: 300;
}

.section-details-content .card-details .trip-information .text-price {
  font-weight: 600;
}

.section-details-content .card-details .trip-information .text-unique {
  color: #1abc9c;
}

.section-details-content .card-details .payment-instruction {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details .bank .bank-item h3 {
  font-size: 18px;
  color: #C54F37;
  margin-bottom: 0;
  font-weight: 600;
}

.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0;
  font-size: 16px;
  color: #C54F37;
  font-weight: 600;
}

.section-details-content .card-details .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #B1B1B1;
}

.section-details-content .card-details .note {
  font-size: 14px;
  color: #DB593F;
  font-weight: 600;
}

.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .card-details .btn-add-now {
  background-color: #FCC12B;
  color: #fff;
  font-weight: 600;
}

.section-details-content .card-details .btn-add-now:hover {
  background-color: #F5CD67;
  color: #fff;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features h3 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
}

.section-details-content .features p {
  font-size: 14px;
  font-weight: 300;
  color: #B1B1B1;
}

.section-details-content .features .description {
  margin-left: 10px;
  float: left;
}

.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
  border: 4px solid #F9F57E;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .member-image {
  width: 40px;
  height: 40px;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-join-now {
  background-color: #FCC12B;
  color: #fff;
  border-radius: 0;
  font-weight: 600;
  font-size: 20px;
}

.section-details-content .btn-join-now:hover {
  background-color: #F5CD67;
  color: #fff;
}

.success-checkout h3 {
  font-weight: 600;
  font-size: 18px;
}

.success-checkout .btn-home-page {
  background-color: #DB593F;
  color: #fff;
  font-size: 20px;
  width: 140px;
  margin-top: 50px;
}

.success-checkout .btn-home-page:hover {
  background-color: #E82F0B;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */